.mi-chart-card-arrow {
  margin-top: -13px;
  margin-bottom: -12px;
  margin-right: -5px;
  border-bottom-right-radius: 3px;
  flex: 0 0 40px;
  max-width: 40px;
  padding-top: 25px;
  .c-icon {
    margin-top: -4px;
    margin-left: -0.7rem;
  }
}
